.card {
  border: 1px dashed gray;
  padding: 5px 15px;
  margin-bottom: 10px;
  background-color: white;
  width: 210px;
}

.drag-handle {
  background-color: green;
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 10px;
  cursor: move;
}
