.spinner {
  width: 100%;
  height: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  border-width: 0.25em;
  background-color: blue;
}
