.progressBarContainer {
    margin-top: 10px;
  }
  
  .progressBar {
    height: 10px;
    background: #444;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }
  
  .progressFilled {
    height: 100%;
    background: yellow;
    width: 0%;
  }
  